{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Это мой первый крупный проект. В этом проекте были исопльзованы тесты для проверки правельности кода.
       Такие как: PEP8(flake8); Библиотека Unittest; Pytest.
       В этом проекте были использованы базы данных (SQL);
       Сам сайт написан на python Django;
       Так как это сайт логично, что также использовался HTML. </p>
  </article>
</div>
{% endblock %} 